@page
@model IndexModel
@{
    ViewData["Title"] = "Hempenstall XYZ";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hempenstall XYZ</h1>
    
    <p>Creating an .Net 6 Web Application with CI/CD through Github Actions.</p>

</div>
