@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>No privacy policy at this time. May be updated in th future</p>

<p>The source code is in github https://github.com/MichaelHempenstall/HempenstallXYZ</p>


