@page
@model HempenstallXYZ.Pages.SampleHouseholdSavingsModel
@{
}
<p>
    Sample embedding from CSO Data -- https://data.gov.ie/dataset
</p>
<iframe width="1200" height="800" src="https://data.gov.ie/dataset/isq04-household-saving-rate/resource/94da81f8-41d2-49a9-a2ec-a7aa16fb3309/view/0ef653c7-6dc7-44af-b035-ead28823da77" frameBorder="0"></iframe>